@media screen and (max-width: 375px) {
  .MainComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .MainComponent {
    height: 100vh;
  }
}

@media screen and (min-width: 376px) {
  .MainComponent {
    width: 600px;
    height: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .MainComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.MainComponent {
  background: hsl(0, 0%, 100%);
}
